* {
    box-sizing: border-box;
}

body {
    background-color: #601344;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    font-size: 112.5%;
}

/* ==================== Typo ======================*/


h1 {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 71px -15px rgba(0,0,0,0.100);
    font-weight: 300;

}

h2 {
    color: hotpink;
    text-align: center;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px 10px 0 0;
    border-bottom: 1px hotpink dotted;
    padding: 4px;
}

strong {
    color: hotpink;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

/*=================== Layout ========================*/

main {
    padding: 20px;
}

header {
    background: #1a1d1f;
    padding: 15px;
    border-bottom: 1px hotpink dotted;

}

nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

footer {
    background: #2d3033;
    padding: 20px;
    background: #1a1d1f;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    border-bottom: 2px dotted hotpink;
    padding: 5px 0;
}

/*======================= Classes ===================*/

.portrait {
    width: 180px;
    margin: 0 auto 30px auto;
    display: block;
    box-shadow: 0px 0px 71px -15px rgba(0,0,0,0.75);
    transform: rotate(-10deg);
    border: 2px white solid;
}

.social_card {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 71px -15px rgba(0,0,0,0.45);
}

.skills {
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
}

.skills li {
    border-bottom: 1px hotpink dotted;
    background: #1a1d1f;
    padding: 10px;
    
}

.social_card img {
width: 35%;
}

.link_button {
    border-bottom: 1px hotpink dotted;
    background: #1a1d1f;
    padding: 10px;
}

.last_name {
    color: grey;
}

.impressum {
    margin-left: auto;
}

.contact {
  text-align: center;

}

.contact a {
    background: #1a1d1f;
    padding: 10px;
    border-bottom: 1px hotpink dotted;
}

a:hover {
    color: hotpink;
}







